.header{
display: flex;    
justify-content: center;
border-radius: 15px;
background-color:rgb(68,151,36);
height: 130px;
margin: 10px;

    

}



.header h1{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   
    
    
}

.header img{
    
        vertical-align: middle; /* Alinha a imagem verticalmente ao centro do texto */
        width: 90px; /* Ajusta a largura da imagem */
        padding-bottom: 10px;
        align-items: center;
        
    
}




.menu{
    padding: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    height: 45px;
    background-color: black;
    
    
}

.menu ul {
    list-style: none; /* Remove os marcadores padrão da lista */
    margin:0;
    padding: 0;
    display: flex; /* Alinha os itens lado a lado */
    justify-content: center;
    gap: 30px;
    
}

.menu li {
    margin: 0;
    
}

.menu a {
    display: block; /* Garante que todo o link seja clicável */
    padding: 15px 20px;
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Cor do texto */
    font-family: "Helvetica Neue",;
    font-weight: bold;
}

.menu a:hover {
    background-color: rgb(125, 199, 96); /* Cor de fundo ao passar o mouse */
    border-radius: 15px;
}

.section p{
text-align: center;

}

.section h2{
    text-align: center;
}

.login{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
   
}

.inicial{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    height: 150px;
    
}

.login input{
    width: 35%;
    padding: 5px;
    border-radius: 5px;
   
}



.formulario{
text-align: center;

}

i{
    margin-right: 5px;
}

#listaItens{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
#itensAdicionados{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
    
}

.logout-btn {
    background-color: rgb(125, 199, 96);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: -10px;
    margin-right: 10px;
    
}
.logout-btn:hover {
    background-color: black;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
max-width: 600px;
margin: 20px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
background-color: #f9f9f9;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
margin-bottom: 20px;
}
label {
display: block;
font-weight: bold;
margin-bottom: 5px;


}
input[type="text"],
select {
width: 80%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
text-align: center;
}
button {
padding: 10px 15px;
border: none;
border-radius: 4px;
background-color: #007bff;
color: white;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}
button:hover {
background-color: #0056b3;
}


@media (max-width: 768px) {
form {
padding: 15px;
}
button {
width: 100%;
}
}


